{% extends "layout.html" %}

{% block title %}Анализатор страниц{% endblock %}

{% block index %}
<h1 class="display-4 text-center">Анализатор страниц</h1>
<p class="lead text-center">Бесплатно проверяйте сайты на SEO-пригодность</p>

<div class="row justify-content-center">
  <div class="col-md-8 col-lg-6">
    <form action="{{ url_for('add_url') }}" method="POST">
      <div class="input-group input-group-lg">
        <input type="text" class="form-control" name="url" placeholder="https://www.example.com" required value="{{ input_url | default('') }}">
        <button class="btn btn-primary btn-lg" type="submit">Проверить</button>
      </div>
    </form>
  </div>
</div>
{% endblock %}