{% extends "base.html" %}

{% block title %}Сайты{% endblock %}

{% block content %}
<h1>Добавленные URL</h1>
<table class="table mt-3" data-test="urls">
  <thead>
    <tr>
      <th>ID</th>
      <th>URL</th>
      <th>Дата добавления</th>
      <th>Код ответа</th>
      <th>Последняя проверка</th>
    </tr>
  </thead>
  <tbody>
    {% for id, name, created_at in urls %}
    <tr data-test="url">
      <td>{{ id }}</td>
      <td><a href="{{ url_for('show_url', url_id=id) }}">{{ name }}</a></td>
      <td>{{ created_at }}</td>
      <td>
        {% if last_checks and id in last_checks %}
          {{ last_checks[id]['status_code'] }}
        {% else %}
          —
        {% endif %}
      </td>
      <td>
        {% if last_checks and id in last_checks %}
          {{ last_checks[id]['created_at'] }}
        {% else %}
          —
        {% endif %}
      </td>
    </tr>
    {% endfor %}
  </tbody>
</table>
{% endblock %}
